openapi: 3.0.3
x-design-rules:
  source: ../srs.md
  sections: [15, 16]
  status: coursework-design-decisions
  description: Quy tắc thiết kế cho bài tại SRS mục 15; chưa phải xác nhận thực tế của khách hàng.
info:
  title: CAB System - Admin Staff & Roles API
  description: Quản lý tài khoản nhân viên vận hành và phân quyền truy cập nội bộ (FR18, NFR06). Tách
    riêng khỏi Admin Users API vì đây là bounded context về danh tính & quyền truy cập nội bộ (IAM), không
    phải dữ liệu nghiệp vụ khách hàng/tài xế.
  version: 1.0.0
servers:
- url: https://api.cabsystem.com/v1
  description: Production
- url: https://api.staging.cabsystem.com/v1
  description: Staging
tags:
- name: Admin - Staff
  description: Tài khoản & phân quyền nhân viên vận hành (FR18).
security:
- bearerAuth: []
paths:
  /operator/staff:
    get:
      tags:
      - Operator
      summary: Xem danh sách nhân viên vận hành
      description: FR18 - Phân quyền quản trị.
      responses:
        '200':
          description: Danh sách nhân viên vận hành
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Staff'
        '400':
          description: Dữ liệu không hợp lệ theo DR01/DR02.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Thông tin xác thực hoặc chữ ký không hợp lệ.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Không có quyền thực hiện thao tác.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
      - Operator
      summary: Tạo tài khoản nhân viên vận hành
      description: 'FR18 - Phân quyền quản trị. Chỉ nhân viên có quyền quản trị (operator_admin) mới được
        tạo tài khoản nhân viên mới (NFR06, Business Rule RL08).

        '
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StaffRequest'
      responses:
        '201':
          description: Tạo tài khoản nhân viên thành công
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Staff'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          description: Người gọi không có quyền thực hiện thao tác này
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Thông tin xác thực hoặc chữ ký không hợp lệ.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /operator/staff/{staffId}:
    get:
      tags:
      - Operator
      summary: Xem chi tiết một nhân viên vận hành
      description: FR18 - Phân quyền quản trị.
      parameters:
      - $ref: '#/components/parameters/StaffId'
      responses:
        '200':
          description: Thông tin nhân viên
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Staff'
        '404':
          $ref: '#/components/responses/NotFound'
        '400':
          description: Dữ liệu không hợp lệ theo DR01/DR02.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Thông tin xác thực hoặc chữ ký không hợp lệ.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Không có quyền thực hiện thao tác.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
      - Operator
      summary: Vô hiệu hóa tài khoản nhân viên vận hành
      description: FR18 - Phân quyền quản trị (NFR06, Business Rule RL08).
      parameters:
      - $ref: '#/components/parameters/StaffId'
      responses:
        '204':
          description: Vô hiệu hóa tài khoản thành công
        '403':
          description: Người gọi không có quyền thực hiện thao tác này
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          $ref: '#/components/responses/NotFound'
        '400':
          description: Dữ liệu không hợp lệ theo DR01/DR02.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Thông tin xác thực hoặc chữ ký không hợp lệ.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /operator/staff/{staffId}/roles:
    put:
      tags:
      - Operator
      summary: Phân quyền cho nhân viên vận hành
      description: 'FR18 - Phân quyền quản trị (NFR06, Business Rule RL08). Chỉ nhân viên có quyền quản
        trị mới được gọi API này.

        '
      parameters:
      - $ref: '#/components/parameters/StaffId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - roles
              properties:
                roles:
                  type: array
                  minItems: 1
                  maxItems: 3
                  uniqueItems: true
                  items:
                    type: string
                    enum:
                    - operator_basic
                    - operator_admin
                    - finance_viewer
      responses:
        '200':
          description: Cập nhật phân quyền thành công
        '403':
          description: Người gọi không có quyền thực hiện thao tác này
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '400':
          description: Dữ liệu không hợp lệ theo DR01/DR02.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Thông tin xác thực hoặc chữ ký không hợp lệ.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Không tìm thấy đối tượng hoặc dữ liệu được yêu cầu.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'Áp dụng cho toàn bộ API yêu cầu tài khoản (NFR05). Vai trò (customer, driver, operator_basic,
        operator_admin) được kiểm tra qua claim trong JWT để kiểm soát quyền truy cập (NFR06, Business
        Rule RL08).

        '
  parameters:
    StaffId:
      name: staffId
      in: path
      required: true
      schema:
        type: string
        format: uuid
        minLength: 36
        maxLength: 36
        pattern: '^[0-9A-Fa-f]{8}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{12}$'
  responses:
    NotFound:
      description: Không tìm thấy tài nguyên
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    BadRequest:
      description: Dữ liệu đầu vào không hợp lệ
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Error:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
    Staff:
      type: object
      properties:
        id:
          type: string
          format: uuid
          minLength: 36
          maxLength: 36
          pattern: '^[0-9A-Fa-f]{8}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{12}$'
        fullName:
          type: string
          minLength: 1
          maxLength: 100
          pattern: '.*\S.*'
        username:
          type: string
          minLength: 1
          maxLength: 50
          pattern: '^[A-Za-z0-9._]+$'
        roles:
          type: array
          minItems: 1
          maxItems: 3
          uniqueItems: true
          items:
            type: string
            enum:
            - operator_basic
            - operator_admin
            - finance_viewer
        status:
          type: string
          enum:
          - active
          - inactive
        createdAt:
          type: string
          format: date-time
    StaffRequest:
      type: object
      required:
      - fullName
      - username
      - password
      - roles
      properties:
        fullName:
          type: string
          minLength: 1
          maxLength: 100
          pattern: '.*\S.*'
        username:
          type: string
          minLength: 1
          maxLength: 50
          pattern: '^[A-Za-z0-9._]+$'
        password:
          type: string
          minLength: 8
          pattern: '^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[^A-Za-z0-9\s]).{8,}$'
          format: password
        roles:
          type: array
          minItems: 1
          maxItems: 3
          uniqueItems: true
          items:
            type: string
            enum:
            - operator_basic
            - operator_admin
            - finance_viewer
