openapi: 3.0.3
x-design-rules:
  source: ../srs.md
  sections: [15, 16]
  status: coursework-design-decisions
  description: Quy tắc thiết kế cho bài tại SRS mục 15; chưa phải xác nhận thực tế của khách hàng.
info:
  title: CAB System - Auth API
  description: Đăng ký tài khoản và xác thực cho Khách hàng và Tài xế (FR01, NFR05).
  version: 1.0.0
servers:
- url: https://api.cabsystem.com/v1
  description: Production
- url: https://api.staging.cabsystem.com/v1
  description: Staging
tags:
- name: Auth
  description: Đăng ký & đăng nhập (FR01).
security:
- bearerAuth: []
paths:
  /customers/register:
    post:
      tags:
      - Customer
      summary: Đăng ký tài khoản khách hàng
      description: FR01 - Đăng ký & đăng nhập. Khách hàng tự đăng ký tài khoản.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerRegisterRequest'
      responses:
        '201':
          description: Tạo tài khoản thành công
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
        '400':
          $ref: '#/components/responses/BadRequest'
        '409':
          description: Email/số điện thoại đã tồn tại
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /drivers/register:
    post:
      tags:
      - Driver
      summary: Đăng ký tài khoản tài xế
      description: FR01 - Đăng ký & đăng nhập. Tài xế tự đăng ký; có thể được nhân viên vận hành tạo thay
        (xem Operator - FR15).
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DriverRegisterRequest'
      responses:
        '201':
          description: Tạo tài khoản tài xế thành công
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Driver'
        '400':
          $ref: '#/components/responses/BadRequest'
        '409':
          description: Xung đột trạng thái hoặc dữ liệu theo SRS mục 15.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /auth/login:
    post:
      tags:
      - Customer
      - Driver
      summary: Đăng nhập (khách hàng hoặc tài xế)
      description: FR01 - Đăng ký & đăng nhập. Xác thực người dùng trước khi sử dụng các chức năng yêu
        cầu tài khoản (NFR05).
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Đăng nhập thành công
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthToken'
        '401':
          description: Sai thông tin đăng nhập
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'Áp dụng cho toàn bộ API yêu cầu tài khoản (NFR05). Vai trò (customer, driver, operator_basic,
        operator_admin) được kiểm tra qua claim trong JWT để kiểm soát quyền truy cập (NFR06, Business
        Rule RL08).

        '
  parameters: {}
  responses:
    BadRequest:
      description: Dữ liệu đầu vào không hợp lệ
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: Không tìm thấy tài nguyên
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Customer:
      type: object
      properties:
        id:
          type: string
          format: uuid
          minLength: 36
          maxLength: 36
          pattern: '^[0-9A-Fa-f]{8}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{12}$'
        fullName:
          type: string
          minLength: 1
          maxLength: 100
          pattern: '.*\S.*'
        phone:
          type: string
          minLength: 10
          maxLength: 10
          pattern: '^0[0-9]{9}$'
        email:
          type: string
          minLength: 1
        address:
          type: string
          maxLength: 255
        status:
          type: string
          enum:
          - active
          - locked
        createdAt:
          type: string
          format: date-time
    Error:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
    CustomerRegisterRequest:
      type: object
      required:
      - fullName
      - phone
      - password
      properties:
        fullName:
          type: string
          minLength: 1
          maxLength: 100
          pattern: '.*\S.*'
        phone:
          type: string
          minLength: 10
          maxLength: 10
          pattern: '^0[0-9]{9}$'
        email:
          type: string
          minLength: 1
          format: email
        password:
          type: string
          minLength: 8
          pattern: '^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[^A-Za-z0-9\s]).{8,}$'
          format: password
    LoginRequest:
      type: object
      required:
      - username
      - password
      properties:
        username:
          type: string
        password:
          type: string
          format: password
    DriverRegisterRequest:
      type: object
      required:
      - fullName
      - phone
      - password
      - licenseNumber
      properties:
        fullName:
          type: string
          minLength: 1
          maxLength: 100
          pattern: '.*\S.*'
        phone:
          type: string
          minLength: 10
          maxLength: 10
          pattern: '^0[0-9]{9}$'
        password:
          type: string
          minLength: 8
          pattern: '^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[^A-Za-z0-9\s]).{8,}$'
          format: password
        licenseNumber:
          type: string
          minLength: 1
          maxLength: 30
          pattern: '^[A-Za-z0-9-]+$'
    Driver:
      type: object
      properties:
        id:
          type: string
          format: uuid
          minLength: 36
          maxLength: 36
          pattern: '^[0-9A-Fa-f]{8}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{12}$'
        fullName:
          type: string
          minLength: 1
          maxLength: 100
          pattern: '.*\S.*'
        phone:
          type: string
          minLength: 10
          maxLength: 10
          pattern: '^0[0-9]{9}$'
        licenseNumber:
          type: string
          minLength: 1
          maxLength: 30
          pattern: '^[A-Za-z0-9-]+$'
        status:
          type: string
          enum:
          - active
          - inactive
          - suspended
        available:
          type: boolean
        currentLocation:
          $ref: '#/components/schemas/Location'
        vehicle:
          $ref: '#/components/schemas/Vehicle'
    Location:
      type: object
      required:
      - latitude
      - longitude
      properties:
        latitude:
          type: number
          minimum: -90
          maximum: 90
          format: double
        longitude:
          type: number
          minimum: -180
          maximum: 180
          format: double
    Vehicle:
      type: object
      properties:
        id:
          type: string
          format: uuid
          minLength: 36
          maxLength: 36
          pattern: '^[0-9A-Fa-f]{8}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{12}$'
        driverId:
          type: string
          format: uuid
          minLength: 36
          maxLength: 36
          pattern: '^[0-9A-Fa-f]{8}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{12}$'
        licensePlate:
          type: string
          pattern: '^[0-9]{2}[A-Z]-[0-9]{3}\.[0-9]{2}$'
        vehicleType:
          type: string
          enum: [4-seat, 7-seat]
          example: 4-seat
        brand:
          type: string
        model:
          type: string
        status:
          type: string
          enum:
          - active
          - inactive
    AuthToken:
      type: object
      properties:
        accessToken:
          type: string
        tokenType:
          type: string
          example: Bearer
        expiresIn:
          type: integer
