openapi: 3.0.3
x-design-rules:
  source: ../srs.md
  sections: [15, 16]
  status: coursework-design-decisions
  description: Quy tắc thiết kế cho bài tại SRS mục 15; chưa phải xác nhận thực tế của khách hàng.
info:
  title: CAB System - Notification API
  description: Gửi và quản lý thông báo cho khách hàng và tài xế trong suốt quy trình đặt xe, thực hiện
    chuyến và thanh toán (FR12). Được các service khác (Trip, Payment, Matching) gọi đến khi có sự kiện
    cần thông báo.
  version: 1.0.0
servers:
- url: https://api.cabsystem.com/v1
  description: Production
- url: https://api.staging.cabsystem.com/v1
  description: Staging
tags:
- name: Notifications
  description: Thông báo cho khách hàng & tài xế (FR12).
security:
- bearerAuth: []
paths:
  /customers/{customerId}/notifications:
    get:
      tags:
      - Notifications
      summary: Xem danh sách thông báo của khách hàng
      description: 'FR12 - Gửi thông báo. Bao gồm các sự kiện: tiếp nhận yêu cầu, tài xế nhận chuyến,
        tài xế đến điểm đón, hoàn thành chuyến, kết quả thanh toán, không tìm được tài xế.

        '
      parameters:
      - $ref: '#/components/parameters/CustomerId'
      responses:
        '200':
          description: Danh sách thông báo
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Notification'
        '400':
          description: Dữ liệu không hợp lệ theo DR01/DR02.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Thông tin xác thực hoặc chữ ký không hợp lệ.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Không có quyền thực hiện thao tác.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Không tìm thấy đối tượng hoặc dữ liệu được yêu cầu.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /drivers/{driverId}/notifications:
    get:
      tags:
      - Notifications
      summary: Xem danh sách thông báo của tài xế
      description: 'FR12 - Gửi thông báo. Bao gồm: chuyến mới, thay đổi liên quan đến chuyến đang thực
        hiện.'
      parameters:
      - $ref: '#/components/parameters/DriverId'
      responses:
        '200':
          description: Danh sách thông báo
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Notification'
        '400':
          description: Dữ liệu không hợp lệ theo DR01/DR02.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Thông tin xác thực hoặc chữ ký không hợp lệ.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Không có quyền thực hiện thao tác.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Không tìm thấy đối tượng hoặc dữ liệu được yêu cầu.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /notifications/{notificationId}:
    patch:
      tags:
      - Notifications
      summary: Đánh dấu thông báo đã đọc
      description: FR12 - Gửi thông báo.
      parameters:
      - $ref: '#/components/parameters/NotificationId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - isRead
              properties:
                isRead:
                  type: boolean
      responses:
        '200':
          description: Cập nhật trạng thái đã đọc thành công
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Notification'
        '404':
          $ref: '#/components/responses/NotFound'
        '400':
          description: Dữ liệu không hợp lệ theo DR01/DR02.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Thông tin xác thực hoặc chữ ký không hợp lệ.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Không có quyền thực hiện thao tác.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
      - Notifications
      summary: Xóa thông báo
      description: FR12 - Gửi thông báo.
      parameters:
      - $ref: '#/components/parameters/NotificationId'
      responses:
        '204':
          description: Xóa thông báo thành công
        '404':
          $ref: '#/components/responses/NotFound'
        '400':
          description: Dữ liệu không hợp lệ theo DR01/DR02.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Thông tin xác thực hoặc chữ ký không hợp lệ.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Không có quyền thực hiện thao tác.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'Áp dụng cho toàn bộ API yêu cầu tài khoản (NFR05). Vai trò (customer, driver, operator_basic,
        operator_admin) được kiểm tra qua claim trong JWT để kiểm soát quyền truy cập (NFR06, Business
        Rule RL08).

        '
  parameters:
    NotificationId:
      name: notificationId
      in: path
      required: true
      schema:
        type: string
        format: uuid
        minLength: 36
        maxLength: 36
        pattern: '^[0-9A-Fa-f]{8}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{12}$'
    DriverId:
      name: driverId
      in: path
      required: true
      schema:
        type: string
        format: uuid
        minLength: 36
        maxLength: 36
        pattern: '^[0-9A-Fa-f]{8}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{12}$'
    CustomerId:
      name: customerId
      in: path
      required: true
      schema:
        type: string
        format: uuid
        minLength: 36
        maxLength: 36
        pattern: '^[0-9A-Fa-f]{8}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{12}$'
  responses:
    NotFound:
      description: Không tìm thấy tài nguyên
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    BadRequest:
      description: Dữ liệu đầu vào không hợp lệ
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Error:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
    Notification:
      type: object
      properties:
        id:
          type: string
          format: uuid
          minLength: 36
          maxLength: 36
          pattern: '^[0-9A-Fa-f]{8}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{12}$'
        tripId:
          type: string
          format: uuid
          minLength: 36
          maxLength: 36
          pattern: '^[0-9A-Fa-f]{8}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{12}$'
          nullable: true
        type:
          type: string
          enum:
          - request_received
          - driver_assigned
          - driver_arrived
          - trip_completed
          - payment_result
          - no_driver_found
          - new_trip_offer
          - trip_updated
        channel:
          type: string
          example: push
        message:
          type: string
        isRead:
          type: boolean
        createdAt:
          type: string
          format: date-time
