openapi: 3.0.3
x-design-rules:
  source: ../srs.md
  sections: [15, 16]
  status: coursework-design-decisions
  description: Quy tắc thiết kế cho bài tại SRS mục 15; chưa phải xác nhận thực tế của khách hàng.
info:
  title: CAB System - Rating & History API
  description: Xem lịch sử chuyến đi, số tiền phải trả và đánh giá tài xế sau chuyến (FR13, FR14).
  version: 1.0.0
servers:
- url: https://api.cabsystem.com/v1
  description: Production
- url: https://api.staging.cabsystem.com/v1
  description: Staging
tags:
- name: Trip History
  description: Lịch sử chuyến đi & số tiền phải trả (FR13).
- name: Rating
  description: Đánh giá tài xế (FR14).
security:
- bearerAuth: []
paths:
  /customers/{customerId}/trips:
    get:
      tags:
      - Customer
      summary: Xem lịch sử các chuyến đã thực hiện
      description: FR13 - Xem lịch sử & số tiền phải trả.
      parameters:
      - $ref: '#/components/parameters/CustomerId'
      - name: status
        in: query
        description: Lọc theo trạng thái chuyến
        schema:
          $ref: '#/components/schemas/TripStatus'
      - name: page
        in: query
        schema:
          type: integer
          minimum: 1
          default: 1
      - name: pageSize
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 20
      responses:
        '200':
          description: Danh sách lịch sử chuyến đi
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Trip'
        '400':
          description: Dữ liệu không hợp lệ theo DR01/DR02.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Thông tin xác thực hoặc chữ ký không hợp lệ.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Không có quyền thực hiện thao tác.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Không tìm thấy đối tượng hoặc dữ liệu được yêu cầu.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /drivers/{driverId}/trips:
    get:
      tags:
      - Driver
      summary: Xem lịch sử các chuyến đã thực hiện
      description: FR07 - Cập nhật trạng thái & vị trí chuyến.
      parameters:
      - $ref: '#/components/parameters/DriverId'
      - name: status
        in: query
        schema:
          $ref: '#/components/schemas/TripStatus'
      - name: page
        in: query
        schema:
          type: integer
          minimum: 1
          default: 1
      - name: pageSize
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 20
      responses:
        '200':
          description: Danh sách chuyến đi của tài xế
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Trip'
        '400':
          description: Dữ liệu không hợp lệ theo DR01/DR02.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Thông tin xác thực hoặc chữ ký không hợp lệ.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Không có quyền thực hiện thao tác.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Không tìm thấy đối tượng hoặc dữ liệu được yêu cầu.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /trips/{tripId}/fare:
    get:
      tags:
      - Customer
      summary: Xem số tiền phải trả của chuyến
      description: FR13 - Xem lịch sử & số tiền phải trả. Yêu cầu chuyến đã được tính cước (FR09 - Internal
        Services).
      parameters:
      - $ref: '#/components/parameters/TripId'
      responses:
        '200':
          description: Thông tin cước phí
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Fare'
        '404':
          $ref: '#/components/responses/NotFound'
        '400':
          description: Dữ liệu không hợp lệ theo DR01/DR02.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Thông tin xác thực hoặc chữ ký không hợp lệ.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Không có quyền thực hiện thao tác.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /trips/{tripId}/rating:
    get:
      tags:
      - Customer
      summary: Xem đánh giá đã gửi cho chuyến đi
      description: FR14 - Đánh giá tài xế.
      parameters:
      - $ref: '#/components/parameters/TripId'
      responses:
        '200':
          description: Thông tin đánh giá
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Rating'
        '404':
          $ref: '#/components/responses/NotFound'
        '400':
          description: Dữ liệu không hợp lệ theo DR01/DR02.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Thông tin xác thực hoặc chữ ký không hợp lệ.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Không có quyền thực hiện thao tác.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
      - Customer
      summary: Đánh giá tài xế sau khi hoàn thành chuyến
      description: FR14 - Đánh giá tài xế. Chỉ áp dụng khi chuyến đã hoàn thành (Business Rule RL06).
      parameters:
      - $ref: '#/components/parameters/TripId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RatingRequest'
      responses:
        '201':
          description: Đánh giá được ghi nhận
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Rating'
        '400':
          $ref: '#/components/responses/BadRequest'
        '409':
          description: Chuyến đi chưa hoàn thành, không thể đánh giá
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Thông tin xác thực hoặc chữ ký không hợp lệ.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Không có quyền thực hiện thao tác.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Không tìm thấy đối tượng hoặc dữ liệu được yêu cầu.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      tags:
      - Customer
      summary: Chỉnh sửa đánh giá đã gửi
      description: FR14 - Đánh giá tài xế.
      parameters:
      - $ref: '#/components/parameters/TripId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RatingRequest'
      responses:
        '200':
          description: Cập nhật đánh giá thành công
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Rating'
        '404':
          $ref: '#/components/responses/NotFound'
        '400':
          description: Dữ liệu không hợp lệ theo DR01/DR02.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Thông tin xác thực hoặc chữ ký không hợp lệ.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Không có quyền thực hiện thao tác.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
      - Customer
      summary: Xóa đánh giá đã gửi
      description: FR14 - Đánh giá tài xế.
      parameters:
      - $ref: '#/components/parameters/TripId'
      responses:
        '204':
          description: Xóa đánh giá thành công
        '404':
          $ref: '#/components/responses/NotFound'
        '400':
          description: Dữ liệu không hợp lệ theo DR01/DR02.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Thông tin xác thực hoặc chữ ký không hợp lệ.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Không có quyền thực hiện thao tác.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'Áp dụng cho toàn bộ API yêu cầu tài khoản (NFR05). Vai trò (customer, driver, operator_basic,
        operator_admin) được kiểm tra qua claim trong JWT để kiểm soát quyền truy cập (NFR06, Business
        Rule RL08).

        '
  parameters:
    TripId:
      name: tripId
      in: path
      required: true
      schema:
        type: string
        format: uuid
        minLength: 36
        maxLength: 36
        pattern: '^[0-9A-Fa-f]{8}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{12}$'
    DriverId:
      name: driverId
      in: path
      required: true
      schema:
        type: string
        format: uuid
        minLength: 36
        maxLength: 36
        pattern: '^[0-9A-Fa-f]{8}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{12}$'
    CustomerId:
      name: customerId
      in: path
      required: true
      schema:
        type: string
        format: uuid
        minLength: 36
        maxLength: 36
        pattern: '^[0-9A-Fa-f]{8}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{12}$'
  responses:
    NotFound:
      description: Không tìm thấy tài nguyên
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    BadRequest:
      description: Dữ liệu đầu vào không hợp lệ
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    TripStatus:
      type: string
      enum:
      - requested
      - finding_driver
      - driver_assigned
      - arrived_at_pickup
      - picked_up
      - in_progress
      - completed
      - cancelled
      - no_driver_found
    Error:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
    Rating:
      type: object
      properties:
        id:
          type: string
          format: uuid
          minLength: 36
          maxLength: 36
          pattern: '^[0-9A-Fa-f]{8}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{12}$'
        tripId:
          type: string
          format: uuid
          minLength: 36
          maxLength: 36
          pattern: '^[0-9A-Fa-f]{8}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{12}$'
        customerId:
          type: string
          format: uuid
          minLength: 36
          maxLength: 36
          pattern: '^[0-9A-Fa-f]{8}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{12}$'
        driverId:
          type: string
          format: uuid
          minLength: 36
          maxLength: 36
          pattern: '^[0-9A-Fa-f]{8}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{12}$'
        score:
          type: integer
        comment:
          type: string
        createdAt:
          type: string
          format: date-time
    RatingRequest:
      type: object
      required:
      - score
      properties:
        score:
          type: integer
          minimum: 1
          maximum: 5
        comment:
          type: string
    Trip:
      type: object
      properties:
        id:
          type: string
          format: uuid
          minLength: 36
          maxLength: 36
          pattern: '^[0-9A-Fa-f]{8}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{12}$'
        customerId:
          type: string
          format: uuid
          minLength: 36
          maxLength: 36
          pattern: '^[0-9A-Fa-f]{8}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{12}$'
        driverId:
          type: string
          format: uuid
          minLength: 36
          maxLength: 36
          pattern: '^[0-9A-Fa-f]{8}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{12}$'
          nullable: true
        vehicleType:
          type: string
          enum: [4-seat, 7-seat]
        pickupLocation:
          $ref: '#/components/schemas/Location'
        destination:
          $ref: '#/components/schemas/Location'
        status:
          $ref: '#/components/schemas/TripStatus'
        estimatedArrivalTime:
          type: string
          format: date-time
          nullable: true
        fare:
          type: number
          nullable: true
        requestedAt:
          type: string
          format: date-time
        completedAt:
          type: string
          format: date-time
          nullable: true
    Location:
      type: object
      required:
      - latitude
      - longitude
      properties:
        latitude:
          type: number
          minimum: -90
          maximum: 90
          format: double
        longitude:
          type: number
          minimum: -180
          maximum: 180
          format: double
    Fare:
      type: object
      properties:
        tripId:
          type: string
          format: uuid
          minLength: 36
          maxLength: 36
          pattern: '^[0-9A-Fa-f]{8}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{12}$'
        amount:
          type: number
        currency:
          type: string
          example: VND
        breakdown:
          type: object
          additionalProperties:
            type: number
