openapi: 3.0.3
x-design-rules:
  source: ../srs.md
  sections: [15, 16]
  status: coursework-design-decisions
  description: Quy tắc thiết kế cho bài tại SRS mục 15; chưa phải xác nhận thực tế của khách hàng.
info:
  title: CAB System - Admin Users API
  description: Nhân viên vận hành quản lý tài khoản khách hàng, tài xế và phương tiện (FR15).
  version: 1.0.0
servers:
- url: https://api.cabsystem.com/v1
  description: Production
- url: https://api.staging.cabsystem.com/v1
  description: Staging
tags:
- name: Admin - Customers
  description: Quản lý khách hàng (FR15).
- name: Admin - Drivers
  description: Quản lý tài xế (FR15).
- name: Admin - Vehicles
  description: Quản lý phương tiện (FR15).
security:
- bearerAuth: []
paths:
  /operator/customers:
    get:
      tags:
      - Operator
      summary: Xem danh sách khách hàng
      description: FR15 - Quản lý khách hàng, tài xế, phương tiện.
      responses:
        '200':
          description: Danh sách khách hàng
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Customer'
        '400':
          description: Dữ liệu không hợp lệ theo DR01/DR02.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Thông tin xác thực hoặc chữ ký không hợp lệ.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Không có quyền thực hiện thao tác.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /operator/customers/{customerId}:
    get:
      tags:
      - Operator
      summary: Xem chi tiết một khách hàng
      description: FR15 - Quản lý khách hàng, tài xế, phương tiện.
      parameters:
      - $ref: '#/components/parameters/CustomerId'
      responses:
        '200':
          description: Thông tin khách hàng
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
        '404':
          $ref: '#/components/responses/NotFound'
        '400':
          description: Dữ liệu không hợp lệ theo DR01/DR02.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Thông tin xác thực hoặc chữ ký không hợp lệ.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Không có quyền thực hiện thao tác.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      tags:
      - Operator
      summary: Cập nhật/khóa thông tin khách hàng
      description: FR15 - Quản lý khách hàng, tài xế, phương tiện.
      parameters:
      - $ref: '#/components/parameters/CustomerId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerUpdateRequest'
      responses:
        '200':
          description: Cập nhật thành công
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
        '404':
          $ref: '#/components/responses/NotFound'
        '400':
          description: Dữ liệu không hợp lệ theo DR01/DR02.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Thông tin xác thực hoặc chữ ký không hợp lệ.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Không có quyền thực hiện thao tác.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
      - Operator
      summary: Vô hiệu hóa tài khoản khách hàng
      description: FR15 - Quản lý khách hàng, tài xế, phương tiện.
      parameters:
      - $ref: '#/components/parameters/CustomerId'
      responses:
        '204':
          description: Vô hiệu hóa tài khoản thành công
        '404':
          $ref: '#/components/responses/NotFound'
        '400':
          description: Dữ liệu không hợp lệ theo DR01/DR02.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Thông tin xác thực hoặc chữ ký không hợp lệ.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Không có quyền thực hiện thao tác.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /operator/drivers:
    get:
      tags:
      - Operator
      summary: Xem danh sách tài xế
      description: FR15 - Quản lý khách hàng, tài xế, phương tiện.
      parameters:
      - name: status
        in: query
        schema:
          type: string
          enum:
          - active
          - inactive
          - suspended
      responses:
        '200':
          description: Danh sách tài xế
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Driver'
        '400':
          description: Dữ liệu không hợp lệ theo DR01/DR02.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Thông tin xác thực hoặc chữ ký không hợp lệ.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Không có quyền thực hiện thao tác.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
      - Operator
      summary: Tạo tài khoản tài xế thay cho tài xế
      description: FR15 - Quản lý khách hàng, tài xế, phương tiện (tài xế được nhân viên vận hành tạo
        tài khoản, xem FR01).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DriverRegisterRequest'
      responses:
        '201':
          description: Tạo tài khoản tài xế thành công
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Driver'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          description: Thông tin xác thực hoặc chữ ký không hợp lệ.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Không có quyền thực hiện thao tác.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /operator/drivers/{driverId}:
    get:
      tags:
      - Operator
      summary: Xem chi tiết một tài xế
      description: FR15 - Quản lý khách hàng, tài xế, phương tiện.
      parameters:
      - $ref: '#/components/parameters/DriverId'
      responses:
        '200':
          description: Thông tin tài xế
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Driver'
        '404':
          $ref: '#/components/responses/NotFound'
        '400':
          description: Dữ liệu không hợp lệ theo DR01/DR02.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Thông tin xác thực hoặc chữ ký không hợp lệ.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Không có quyền thực hiện thao tác.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      tags:
      - Operator
      summary: Cập nhật/khóa thông tin tài xế
      description: FR15 - Quản lý khách hàng, tài xế, phương tiện.
      parameters:
      - $ref: '#/components/parameters/DriverId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DriverUpdateRequest'
      responses:
        '200':
          description: Cập nhật thành công
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Driver'
        '404':
          $ref: '#/components/responses/NotFound'
        '400':
          description: Dữ liệu không hợp lệ theo DR01/DR02.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Thông tin xác thực hoặc chữ ký không hợp lệ.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Không có quyền thực hiện thao tác.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
      - Operator
      summary: Vô hiệu hóa tài khoản tài xế
      description: FR15 - Quản lý khách hàng, tài xế, phương tiện.
      parameters:
      - $ref: '#/components/parameters/DriverId'
      responses:
        '204':
          description: Vô hiệu hóa tài khoản thành công
        '404':
          $ref: '#/components/responses/NotFound'
        '400':
          description: Dữ liệu không hợp lệ theo DR01/DR02.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Thông tin xác thực hoặc chữ ký không hợp lệ.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Không có quyền thực hiện thao tác.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /operator/vehicles:
    get:
      tags:
      - Operator
      summary: Xem danh sách phương tiện
      description: FR15 - Quản lý khách hàng, tài xế, phương tiện.
      responses:
        '200':
          description: Danh sách phương tiện
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Vehicle'
        '400':
          description: Dữ liệu không hợp lệ theo DR01/DR02.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Thông tin xác thực hoặc chữ ký không hợp lệ.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Không có quyền thực hiện thao tác.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /operator/vehicles/{vehicleId}:
    get:
      tags:
      - Operator
      summary: Xem chi tiết một phương tiện
      description: FR15 - Quản lý khách hàng, tài xế, phương tiện.
      parameters:
      - $ref: '#/components/parameters/VehicleId'
      responses:
        '200':
          description: Thông tin phương tiện
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Vehicle'
        '404':
          $ref: '#/components/responses/NotFound'
        '400':
          description: Dữ liệu không hợp lệ theo DR01/DR02.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Thông tin xác thực hoặc chữ ký không hợp lệ.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Không có quyền thực hiện thao tác.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      tags:
      - Operator
      summary: Cập nhật/khóa thông tin phương tiện
      description: FR15 - Quản lý khách hàng, tài xế, phương tiện.
      parameters:
      - $ref: '#/components/parameters/VehicleId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VehicleRequest'
      responses:
        '200':
          description: Cập nhật thành công
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Vehicle'
        '404':
          $ref: '#/components/responses/NotFound'
        '400':
          description: Dữ liệu không hợp lệ theo DR01/DR02.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Thông tin xác thực hoặc chữ ký không hợp lệ.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Không có quyền thực hiện thao tác.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
      - Operator
      summary: Gỡ bỏ phương tiện khỏi hệ thống
      description: FR15 - Quản lý khách hàng, tài xế, phương tiện.
      parameters:
      - $ref: '#/components/parameters/VehicleId'
      responses:
        '204':
          description: Gỡ bỏ phương tiện thành công
        '404':
          $ref: '#/components/responses/NotFound'
        '400':
          description: Dữ liệu không hợp lệ theo DR01/DR02.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Thông tin xác thực hoặc chữ ký không hợp lệ.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Không có quyền thực hiện thao tác.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'Áp dụng cho toàn bộ API yêu cầu tài khoản (NFR05). Vai trò (customer, driver, operator_basic,
        operator_admin) được kiểm tra qua claim trong JWT để kiểm soát quyền truy cập (NFR06, Business
        Rule RL08).

        '
  parameters:
    VehicleId:
      name: vehicleId
      in: path
      required: true
      schema:
        type: string
        format: uuid
        minLength: 36
        maxLength: 36
        pattern: '^[0-9A-Fa-f]{8}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{12}$'
    DriverId:
      name: driverId
      in: path
      required: true
      schema:
        type: string
        format: uuid
        minLength: 36
        maxLength: 36
        pattern: '^[0-9A-Fa-f]{8}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{12}$'
    CustomerId:
      name: customerId
      in: path
      required: true
      schema:
        type: string
        format: uuid
        minLength: 36
        maxLength: 36
        pattern: '^[0-9A-Fa-f]{8}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{12}$'
  responses:
    NotFound:
      description: Không tìm thấy tài nguyên
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    BadRequest:
      description: Dữ liệu đầu vào không hợp lệ
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Customer:
      type: object
      properties:
        id:
          type: string
          format: uuid
          minLength: 36
          maxLength: 36
          pattern: '^[0-9A-Fa-f]{8}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{12}$'
        fullName:
          type: string
          minLength: 1
          maxLength: 100
          pattern: '.*\S.*'
        phone:
          type: string
          minLength: 10
          maxLength: 10
          pattern: '^0[0-9]{9}$'
        email:
          type: string
          minLength: 1
        address:
          type: string
          maxLength: 255
        status:
          type: string
          enum:
          - active
          - locked
        createdAt:
          type: string
          format: date-time
    DriverRegisterRequest:
      type: object
      required:
      - fullName
      - phone
      - password
      - licenseNumber
      properties:
        fullName:
          type: string
          minLength: 1
          maxLength: 100
          pattern: '.*\S.*'
        phone:
          type: string
          minLength: 10
          maxLength: 10
          pattern: '^0[0-9]{9}$'
        password:
          type: string
          minLength: 8
          pattern: '^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[^A-Za-z0-9\s]).{8,}$'
          format: password
        licenseNumber:
          type: string
          minLength: 1
          maxLength: 30
          pattern: '^[A-Za-z0-9-]+$'
    Error:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
    CustomerUpdateRequest:
      type: object
      properties:
        fullName:
          type: string
          minLength: 1
          maxLength: 100
          pattern: '.*\S.*'
        email:
          type: string
          minLength: 1
          format: email
        address:
          type: string
          maxLength: 255
    VehicleRequest:
      type: object
      required:
      - licensePlate
      - vehicleType
      properties:
        licensePlate:
          type: string
          pattern: '^[0-9]{2}[A-Z]-[0-9]{3}\.[0-9]{2}$'
        vehicleType:
          type: string
          enum: [4-seat, 7-seat]
          example: 4-seat
        brand:
          type: string
        model:
          type: string
    DriverUpdateRequest:
      type: object
      properties:
        fullName:
          type: string
          minLength: 1
          maxLength: 100
          pattern: '.*\S.*'
        phone:
          type: string
          minLength: 10
          maxLength: 10
          pattern: '^0[0-9]{9}$'
        licenseNumber:
          type: string
          minLength: 1
          maxLength: 30
          pattern: '^[A-Za-z0-9-]+$'
    Driver:
      type: object
      properties:
        id:
          type: string
          format: uuid
          minLength: 36
          maxLength: 36
          pattern: '^[0-9A-Fa-f]{8}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{12}$'
        fullName:
          type: string
          minLength: 1
          maxLength: 100
          pattern: '.*\S.*'
        phone:
          type: string
          minLength: 10
          maxLength: 10
          pattern: '^0[0-9]{9}$'
        licenseNumber:
          type: string
          minLength: 1
          maxLength: 30
          pattern: '^[A-Za-z0-9-]+$'
        status:
          type: string
          enum:
          - active
          - inactive
          - suspended
        available:
          type: boolean
        currentLocation:
          $ref: '#/components/schemas/Location'
        vehicle:
          $ref: '#/components/schemas/Vehicle'
    Location:
      type: object
      required:
      - latitude
      - longitude
      properties:
        latitude:
          type: number
          minimum: -90
          maximum: 90
          format: double
        longitude:
          type: number
          minimum: -180
          maximum: 180
          format: double
    Vehicle:
      type: object
      properties:
        id:
          type: string
          format: uuid
          minLength: 36
          maxLength: 36
          pattern: '^[0-9A-Fa-f]{8}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{12}$'
        driverId:
          type: string
          format: uuid
          minLength: 36
          maxLength: 36
          pattern: '^[0-9A-Fa-f]{8}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{12}$'
        licensePlate:
          type: string
          pattern: '^[0-9]{2}[A-Z]-[0-9]{3}\.[0-9]{2}$'
        vehicleType:
          type: string
          enum: [4-seat, 7-seat]
          example: 4-seat
        brand:
          type: string
        model:
          type: string
        status:
          type: string
          enum:
          - active
          - inactive
